<p id="notice"><%= notice %></p>

<div class="card" >
  <div class="card-body">
    
    
    <p>
      <strong><h4>Edificio <%= @building.nombre %></h4></strong>
      
    </p>

    <p>
      <strong>Direccion:</strong>
      <%= @building.direccion %>
    </p>

    <p>
      <strong>Ciudad:</strong>
      <%= @building.ciudad %>
    </p>

    
    
   
  </div>
</div>



  <%# @building.apartment.each do |apartments| %>

    <table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Id</th>
      <th scope="col">Numero departamento</th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @building.apartment.each do |apartments| %>
      <tr>

        <td><%= apartments.id %></td>
        <td><%= apartments.numero %></td>
       
        
      </tr>
    <% end %>
  </tbody>
</table>
 <%= link_to 'Volver', buildings_path, class:"btn btn-primary" %>
                   
  <%# end %>