<%= form_with(model: apartment) do |form| %>
 
<div class="card" style="width: 18rem;">
  <div class="card-body">

    <% if apartment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

        <ul>
          <% apartment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :numero %>
      <%= form.text_field :numero %>
    </div>

    <div class="field">
      <%= form.label :building_id %>
      <%= form.text_field :building_id %>
    </div>

    <div>
      <%# form.label :building_id, class: "form-label" %>
        <%# if apartment.building %>
          <%# form.select(:building_id, option_from_collection_for_select(building, :id, :nombre, apartment.building_id), {include_blank: "Selecciona un edificio"}, {class:'form-select'}) %>
        <%# else %>
          <%# form.select(:building_id, option_from_collection_for_select(building, :id, :nombre), {include_blank: "Selecciona un edificio"}, {class:'form-select'}) %>
        <%# end %>
    </div> 
 
<br>

    <div class="actions">
      <%= form.submit 'Actualizar departamento', class:"btn btn-primary" %>
    </div>
  </div>
</div>    
<% end %>
